node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/.idx
/.vscode
# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
test.js
test.svelte
users.xlsx
# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
bun.lockb
pnpm-lock.yaml
